__pycache__
__pycache__/
airlines/__pycache__/
airlinesMngr/__pycache__
airlinesMngr/__pycache__/
**/__pycache__/
**/__pycache__/
python-env/**
python-env
*.rdb
airlines/migrations/
db.sqlite3
debug.log
.idea