<table class="crews-table">
  <thead>
    <tr>
      <th data-view="plane-plate">
        <a
          class="{{ sort_links.plane__reg_id.mode }}"
          href="{{ sort_links.plane__reg_id.link }}"
        >
          Plane
        </a>
      </th>
      <th>
        <a
          class="{{ sort_links.plane__reg_id.mode }}"
          href="{{ sort_links.plane__reg_id.link }}"
        >
          Crew
        </a>
      </th>
      <th>
        <a
          class="{{ sort_links.src.mode }}"
          href="{{ sort_links.src.link }}"
        >
          From
        </a>
      </th>
      <th>
        <a
          class="{{ sort_links.dest.mode }}"
          href="{{ sort_links.dest.link }}"
        >
          To
        </a>
      </th>
      <th data-type="date" data-input="X" data-view="from-now">
        <a
          class="{{ sort_links.start.mode }}"
          href="{{ sort_links.start.link }}"
        >
          Departure
        </a>
      </th>
      <th data-type="date" data-input="X" data-view="from-now">
        <a
          class="{{ sort_links.end.mode }}"
          href="{{ sort_links.end.link }}"
        >
          Arrival
        </a>
      </th>
    </tr>
  </thead>
  <tbody>


  </tbody>
</table>
