<table>
    <thead>
    <tr>
        <th>
            <a
                    class="{{ sort_links.surname.mode }}"
                    href="{{ sort_links.surname.link }}"
            >
                Surname
            </a>
        </th>
        <th>
            <a
                    class="{{ sort_links.name.mode }}"
                    href="{{ sort_links.name.link }}"
            >
                Name
            </a>
        </th>
        <th>
            <a
                    class="{{ sort_links.number_of_flights.mode }}"
                    href="{{ sort_links.number_of_flights.link }}"
            >
                Flights bought
            </a>
        </th>
    </tr>
    </thead>
    <tbody>

    {% if page_data %}
    {% for user in page_data %}
    <tr>
        <td>{{ user.surname }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.flights.count }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="3">
            <p>No users are available.</p>
        </td>
    </tr>
    {% endif %}

    </tbody>
</table>

<nav class="pages">
    <ul>
        {% if first_page %}
        <li>
            <a href="{{ first_page }}">
                &lt;&lt;
            </a>
        </li>
        {% endif %}
        {% if previous_page %}
        <li>
            <a href="{{ previous_page }}">
                &lt;
            </a>
        </li>
        {% endif %}
        {% for page in pages %}
        {% if page.no == current_page %}
        <li class="active">
            <a href="{{ page.link }}">
                {{ page.no }}
            </a>
        </li>
        {% else %}
        <li>
            <a href="{{ page.link }}">
                {{ page.no }}
            </a>
        </li>
        {% endif %}
        {% endfor %}
        {% if next_page %}
        <li>
            <a href="{{ next_page }}">
                &gt;
            </a>
        </li>
        {% endif %}
        {% if last_page %}
        <li>
            <a href="{{ last_page }}">
                &gt;&gt;
            </a>
        </li>
        {% endif %}
    </ul>
</nav>