body {
    margin: 0;
    padding: 0;
    /*filter: hue-rotate(191deg) brightness(98%) contrast(98%) saturate(74%);*/
}

div.headmessage {
    font-family: 'PT Sans', sans-serif;
    color: black;
    font-weight: bold;
    margin-left: 2vw;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'PT Sans', sans-serif;
    color: black;
    margin-left: 1vw;
}

form input, select {
    font-family: 'PT Sans', sans-serif;
    display: block;
    background-color: #975259;
    color: white;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 80%;
    padding: 5px;
}

form label {
    font-family: 'PT Sans', sans-serif;
}

form input[type="submit"] {
    background-color: #4c2b2e;
    color: white;
    font-weight: bold;
    padding: 1vw;
    border: none;
    padding-left: 20vw;
    padding-right: 20vw;
    margin-left: 25vw;
    margin-top: 2vw;
    border: 2px solid transparent;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: white;
    color: #4c2b2e;
    border: 2px solid #4c2b2e;
}

body > header {
    font-family: 'PT Sans', sans-serif;
    font-size: 200%;
    font-weight: bold;
    color: white;
    background-color: #7d444a;
    margin: 0;
    padding-top: 3vw;
    padding-bottom: 1vw;
    user-select: none;
}

body > header i {
    margin-right: 1vw;
    margin-left: 2vw;
}

body > header > nav {
    font-size: 50%;
    float: right;
    margin-right: 1vw;
}

body > header > nav span.username {
    text-decoration: underline;
}

body > nav {
    font-family: 'PT Sans', sans-serif;
    color: white;
    background-color: rgb(125, 68, 74);
    margin-top: 0;
    margin-left: 0;
    padding-top: 0.5vw;
    padding-bottom: 2.5vw;
}

body > nav ul {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    user-select: none;
    list-style: none;
    font-size: 120%;
    font-weight: bold;
}

body > nav ul li {
    font-size: 100%;
    background-color: rgba(125, 68, 74, 0.929);
    padding: 0.5vw;
    display: inline;
    cursor: pointer;
    border-left: 2px solid white;
    border-right: 2px solid white;
    margin-right: -2px;
}

body > nav ul li a {
    color: white;
    text-decoration: none;
}

body > nav ul li:hover {
    background-color: white;
    color: #5f3237;
}

body > nav ul li:hover a {
    color: #5f3237;
}
