form.login {
    font-family: 'PT Sans', sans-serif;
}

form.login input {
    display: inline-block;
}

form.login label {
    display: inline-block;
    font-weight: bold;
    margin-left: 3vw;
    margin-right: 1vw;
}