.messagesContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  pointer-events: none;
}

.messagesContainer .message {
  font-family: 'PT Sans', sans-serif;
  color: rgba(39,34,34,0.839);
  background-color: rgba(7,97,0,0.419);
  padding: 1vw;
  margin-left: 30vw;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  width: 200vw;
  pointer-events: bounding-box;
}

.messagesContainer .message.error {
  background-color: rgba(142,0,0,0.76);
  color: white;
}
