<ul>
  {% if back_button %}
    <li class="backButton">
      <a href="{{ back_button }}"> &lt; </a>
    </li>
  {% endif %}

  {% if content == 'planes' %}
    <li class="active">
      <a href="/airlines/planes">Planes</a>
    </li>
  {% else %}
    <li>
      <a href="/airlines/planes">Planes</a>
    </li>
  {% endif %}
  
  {% if content == 'flights' %}
    <li class="active">
      <a href="/airlines/flights">Flights</a>
    </li>
  {% else %}
    <li>
      <a href="/airlines/flights">Flights</a>
    </li>
  {% endif %}
  
  {% if content == 'users' %}
    <li class="active">
      <a href="/airlines/users">Users</a>
    </li>
  {% else %}
    <li>
      <a href="/airlines/users">Users</a>
    </li>
  {% endif %}
  
  {% if content == 'crews' or content == 'crews-panel' %}
    <li class="active">
      <a href="/airlines/crews">Crews</a>
    </li>
  {% else %}
    <li>
      <a href="/airlines/crews">Crews</a>
    </li>
  {% endif %}
  
  {% if content == 'workers' %}
    <li class="active">
      <a href="/airlines/workers">Workers</a>
    </li>
  {% else %}
    <li>
      <a href="/airlines/workers">Workers</a>
    </li>
  {% endif %}
</ul>